@font-face {
  font-family: "Blanka";
  src: url("../../public/Blanka.otf");
}

.hero-section {
  height: 95vh;
  font-family: Blanka;
  color: white;
  background-color: black;
  background-image: url("https://cdn.pixabay.com/photo/2020/07/10/16/46/dark-5391260_960_720.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-wrapper {
  padding: 40vh 5vw 0 0;
}

#tag-line {
  font-family: Roboto;
}
